
<div style="background-color:powderblue;color:blue;width: 50%;height: 400px;">
    <p>anything</p>
<div *ngIf="operator==''">
<input type="text" name="" id="" value="{{value1}}" (input)="value1=$event.target.value" >
</div>
<div *ngIf= "value1!='' && operator!=''&& sum==''">
<input type="text" value={{value2}} (input)="value2=$event.target.value">
</div>

<div *ngIf= "value1!=''&& operator!='' && value2!='' && sum!=''">
    <input type="text" name="" id="" value="{{sum}}">
</div>

<div>
    <button *ngFor="let i of ['1','2','3']" (click)="setNumber(i)">{{i}}</button></div>
 <div><button *ngFor="let i of ['4','5','6']" (click)="setNumber(i)">{{i}}</button></div>
    <button *ngFor="let i of ['7','8','9']" (click)="setNumber(i)">{{i}}</button>
    <div>
    <button *ngFor="let o of ['+','-','*','/','=']" (click)="setOperators(o)">{{o}}</button>
</div>


</div>